<launch>
	<!-- <include file="$(find rplidar_ros)/launch/rplidar.launch" /> -->
	
	<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen" respawn="true">
            <param name="speed" value="0.1"/>
            <param name="turn" value="0.1"/>
	</node>
	
	
	<!--<node pkg="iauk" type="move_speed.py" name="move_speed" output="screen" respawn="true"/>
	<node pkg="iauk" type="dyna.py" name="dyna" output="screen" respawn="true" />
	<node pkg="iauk" type="odom.py" name="odom" output="screen" respawn="false" />-->
	<node pkg="iauk" type="mix.py" name="mix" output="screen" respawn="false" />
	
	<node type="rviz" name="rviz" pkg="rviz" args="-d /home/iauk/catkin_ws/src/iauk/rviz/rviz_mapping.rviz" />
	
	
</launch>
